# 1.Sintaks Dasar  
 Print di gunakan untuk mengeluarkan output pada layar

In [5]:
print("Hello World")

Hello World

In [7]:
a = 2 
b = 12
print (a*b)
print (a**b)

24
4096

## Variabel 
Variabel adalah

In [11]:
x = y = z = 6

print (x)
print (y)
print (z)

6
6
6

In [9]:
a, d, c = 2, 4, "e-xcel"

print (a)
print (b)
print (c)

2
12
e-xcel

## tipe data

### Number
Latihan

In [12]:
a = 7 
print(a, "mempunya type", type(a))

(7, 'mempunya type', <type 'int'>)

In [13]:
a = 7.0
print(a, "mempunya type", type(a))

(7.0, 'mempunya type', <type 'float'>)

### Boolean 
Benar atau Salah

In [14]:
a = 5>6

print(a, "mempunya type", type(a))

(False, 'mempunya type', <type 'bool'>)

In [15]:
a = 6>5

print(a, "mempunya type", type(a))

(True, 'mempunya type', <type 'bool'>)

### String

In [18]:
a = "ini adalah string"

print(a, "mempunya type", type(a))

('ini adalah string', 'mempunya type', <type 'str'>)

In [19]:
a = 4
b = 6
a = a + 5
print(a)

9

In [20]:
a = 4
b = 6
a = a + 5
print(a)
a = a * 6
print(a)
a = a + 2
print(a)

9
54
56

# Latihan

In [21]:
Harga buku = 100000

SyntaxError: invalid syntax (<ipython-input-21-0ae0a2c1bf00>, line 1)

In [28]:
harga_buku = 100000
dikon = 40
ongkir = 3000
selanjutnya = 9000
jumlah = 60 

harga_diskon = harga_buku * (100-dikon)/100
harga_total = harga_diskon * jumlah
ongkir_total = ongkir + selanjutnya * (jumlah-1)

Total = harga_total + ongkir_total

print (Total)

4134000

In [29]:
nilai = 97 
if nilai > 92 :
    print("Lulus")
    print ("selamat")
    
print ("program selesai")

Lulus
selamat
program selesai

In [33]:
nilai = 91 
if nilai > 92 :
    print("Lulus")
    print ("selamat")
    
print ("program selesai")

program selesai

In [36]:
nilai = 91
if nilai > 92 :
    print("Lulus")
    print ("selamat")
else:
    print ("Anda Belum Berhasil")
    
print ("Program Selesai")

Anda Belum Berhasil
Program Selesai

In [39]:
nilai = 91
if nilai > 92 :
    print("Lulus")
    print ("selamat")
elif nilai > 89:
    print ("Anda masuk waiting List")
else:
    print ("Anda Belum Berhasil")
    
print ("Program Selesai")

Anda masuk waiting List
Program Selesai

In [3]:
nilai = 92
umur  = 18

if nilai > 90 :
    if umur >= 18 :
          print ("anda berhak mendapatkan beasiswa")
    else :
          print ("anda belum berhak mendapatkan beasiswa")
            
else :
    print ("anda belum berhak mendapatkan beasiswa")
print ("program selesai")

anda berhak mendapatkan beasiswa
program selesai

In [1]:
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

('x + y =', 19)
('x - y =', 11)
('x * y =', 60)
('x / y =', 3)
('x // y =', 3)
('x ** y =', 50625)